{ "__comment": "this is the jdk facts for the ansible-xwiki-jdk",
		"jdk": {
			"java_folder": "{{ java_folder|default(java_folder_default) }}",
			"java_alias": "{{ java_alias|default(java_alias_default) }}"
			"java_versions": "{{ java_versions|default(java_versions_default) }}"
		}
}
